

<div class="container">
  <%= @question %>
  </div>

<div class="container">
  <%= @coach %>
  </div>


  <div class="container">
<%= link_to "Ask a new question", ask_path %>
</div>

<%# <%= link_to "Ask a new question", ask_path %>
